*{
    
}

html,body{

}

header{
  /*  display:flex;
    justify-content: center;*/
}

body{
    margin-top:3rem;
    margin-bottom: 3rem;
    margin-left:5%;
    margin-right:5%;
    background-color: #b8f2e6;
    color:#faf3dd;
    
}

#logo{
    width:7rem;
    height:14rem;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

nav{
    display:flex;
    justify-content: space-around;
    align-content: space-between;
    background-color: #26877F;
    margin-top:1rem;
    border-radius: 1rem;
    color:#faf3dd;
    
}

nav div{
    margin: 1rem;
   
}

a{
    font-size: 2rem;
    font-weight: bold;
    color:#faf3dd;
    text-decoration: none;

}

a:hover{
    color:#faf3dd;
    font-size: 2rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h1{
   font-size: 3rem;
}

h2{
    font-size: 2rem;
}

section{
    display:flex;
    margin:1rem;
}
article{
    flex:1;
    border-radius: 1rem;
    background-color: grey;
    margin:1rem;
    padding: 0 1rem 0 1rem;
}

footer{
    display : flex;
    background-color: #26877F;
    color:white;
    
}

footer div{
    flex:1;
}

#imagefooter{
    width : 3.5rem;
    height : 7rem;
    margin-left: 1rem;
}
 
nav ul{
   list-style: none;
   text-align: center;
}

nav li{
    display: inline-block;
    margin: 0rem 1rem 0rem 1rem;
}